.custom-card-title {
  font-family: Roboto, Arial;
  font-weight: 900;
}

.custom-card-title:hover {
  color: #555;
  cursor: pointer;
}

.custom-breadcrumb {
  margin-top: -1px;
  color: #FFF !important;
  background-color: #000 !important;
}

.scroll-container {
  overflow: auto;
  margin-top: 10px;
}
