<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto:100,400,700,900" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="css/master.css">
  <link rel="stylesheet" href="css/navbar.css">
  <link rel="stylesheet" href="css/jumbo_homepage.css">
  <link rel="stylesheet" href="css/bootstrap-4.1.0-dist/css/bootstrap.css" />
  <title></title>
</head>

<body>
  <nav class="navbar navbar-light">
    <a class="navbar-brand custom-title" href="#" title="Designer and Tech Enthusiast">
    <img src="img/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="Logo">
    Gatya
  </a>
    <ul class="nav nav-pills nav-fill custom-pill-black">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="project.html">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="video.html">Videos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about.html">About</a>
      </li>
    </ul>
  </nav>

  {{content}}

</body>

</html>
